body {
    height: 100vh;
    background-image: url('../../assets/home-image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.welcome-h1 {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 255, 255, 0.911);
}

.container-filters {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.home-container {
    height: 100vh;
    background-image: url('../../assets/home-image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.all-countries-container {
    height: 100vh;
    background-image: url('../../assets/home-image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}