.start-btn {
    display: grid;
    margin-left: 620px;
    border: 2px solid rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.911);
    width: 100px;
    height: 37px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.start-btn:hover {
    background-color: rgba(6, 0, 63, 0.815);
    color: rgba(255, 255, 255, 0.911);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.landing-h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 255, 255, 0.911); 
    margin-top: 230px;
    position: relative;
    z-index: 2;
}

.nav-link {
    text-decoration: none;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}